@import "bootstrap";

#runner{
	margin-left: 0.2%;
	width: 24%;
}

#runnerinfo{
	margin-top: 10px;
}

#runnerf{
	margin-left: 2%;
	width: 24%;
}

#rowrunner{
	margin-top: 10px;
	display: inline-block;
	margin-left: 30px;
}

.thumbnail{
	padding: 1px;
}

#footercenter{
	margin-top: 30px;
	text-align:center;
}