@import "bootstrap";

.is{
	padding-left: 10px;
}

.choo{
	padding-left: 20px;
}

abbr{
	display: none;
}
.logosize{
	width: 100px;
	height: 100px;
}
#iconadjust{
	padding-bottom: 0;
}

#tablogo{
	font-size: 15px;
	font-weight: bold;
}

#tabli{
	margin-top: 6%;
}

#nav-margin{
	margin-left: 15%;
}

.testsub{
	margin-left: 66.5%;
}

.rimg{
	margin-bottom: 10px;
}
#buttonposition{
	position: relative;
	top: 20;
}

#memachim{
	margin-left: 50%;
}

#con-info{
	width: 940px;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

p#title{
	font-weight: bold;
}

.con-info-inner{
	width: 850px;
	margin-left: 3%;
}

#con-resize{
	width: 800px;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.key-back{
	background-color: #fafade;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;	
}

#genbor{
	margin: 10 10 10 10;
}

.con-back{
	width: 700px;
	margin-left: 6%;
}

.batonbtn{
	width: 300px;
	height: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.tasknumbernone{
	display: none;
}

#appendInputButton{
	margin-left: 20%;
	height: 33px;
}

.forminput{
	width: 70%;
	height: 30px;
}

#carousel-form{
	background: none;
}

.background{
	background-image: url("/assets/bg.png");
}

span#choosement{
	font-size: 30px;
	font-weight: bold;
}

.chbtn{
	margin-top: 1%;
	margin-left: 23%;
	margin-bottom: 1%;
}

#runner{
	margin-left: 0.2%;
	width: 24%;
}

#baton_taskname, #baton_phone, #baton_address, #baton_date, #baton_time, #tester_mail, #tester_phone{
	width: 70%;
	height: 32px;
}

#session_authkey{
	width: 70%;
	height: 32px;
	margin-left: 3%;
}

#baton_detail, #tester_advtg{
	width: 70%;
	height: 200px;
}

#inputcenter{
	margin: 0 auto auto 0;
	display: inline-block;
}

#batoncenter{
	text-align: center;
}

#createbtn{
	padding-left: 55%;
}

#authbtn{
	padding-left: 40%;
}

#choosebtn{
	padding-left: 30%;
}

#runnerinfo{
	margin-top: 10px;
}

#runnerf{
	margin-left: 2%;
	width: 24%;
}

#rowrunner{
	margin-top: 10px;
	display: inline-block;
	margin-left: 30px;
}

.thumbnail{
	padding: 1px;
}

#footercenter{
	margin-top: 30px;
	text-align:center;
}